.loginWrap {display: flex; flex: 1 1 100%; flex-direction: column; justify-content: center; align-items: center; height: 100vh; background: linear-gradient(310deg, #3C5273, #294062);}

.title {margin-bottom: 24px; font-size: var(--fs-38); font-weight: var(--fw-bold); color: var(--white); letter-spacing: -1.6px;}

.article {display: flex; width: 660px; height: 600px; padding: 60px; background: var(--white); border-radius: 16px; box-shadow: 18px 18px 40px 0 #00000033;}
.article form {display: flex; flex-direction: column; align-items: center; width: 100%; position: relative;}

.article form h2 {margin-bottom: 40px; font-size: var(--fs-38);}
.article form div {display: flex; justify-content: space-between; align-items: center; width: 100%;}

.article form label {font-size: var(--fs-18);}
.article form label::placeholder {font-size: var(--fs-18); color: var(--font-color-050);}

.article form input {width: 432px; height: 62px; padding: 0 8px; border: 1px solid var(--line-030); border-radius: 4px; font-size: var(--fs-18);}

.article form button {position: absolute; bottom: 0;}

.id {margin-bottom: 34px;}