.modalShow {display: block; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999; background-color: var(--modal-bg);}
.modalHide {display: none;}

.container {display: flex; flex-direction: column; min-width: 500px; position: absolute; top: 50%; left: 50%; z-index: 9999; transform: translate(-50%, -50%); background-color: var(--white); border-radius: 1.25em;}
.header {display: flex; justify-content: center; align-items: center; min-height: 80px; padding: 20px; font-size: var(--fs-18); text-align: center;}
.body {display: flex; justify-content: center; align-items: center; padding: 20px; border-top: 1px solid var(--line-030);}