.container {display: flex; flex: 1 1; justify-content: space-between; align-items: stretch;}

.file {position: relative; flex: 1 1; display: flex; margin-right: 1.25em;}
.file::after {content: ""; width: 100%; height: 1px; position: absolute; bottom: 0; left: 0; background-color: var(--grey-500);}
.file input[type="file"] {display: none;}
.file label {display: inline-flex; justify-content: center; align-items: center; width: 32px; height: 32px; margin-right: 8px; border-radius: 50%; background-color: var(--grey-300); transition: var(--transition);}
.file label:hover, .file label:active {background-color: var(--grey-400);}
.file span {display: inline-block; width: 180px; max-width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 2; color: var(--font-color-040); user-select: none; text-align: left;}

button.viewBtn {background-color: var(--grey-300); color: var(--grey-800);}

@media all and (max-width: 1740px) {
    .container button svg {margin-right: 0;}
    .container button span {display: none;}
}