@import-normalize;

html {font-size: 62.5%;}

body {margin: 0; letter-spacing: -0.1em;}

h1, h2, h3, h4, h5, h6,
p {margin: 0; padding: 0;}

ul, ol, li {list-style: none; margin: 0; padding: 0;}

table {padding: 0; border: none; border-collapse: inherit; border-spacing: 0; border-color: inherit;}
button {outline: none; border: none;}
