@font-face {
    font-family: 'NotoSansKR';
    src: url('notosanskr-thin-webfont.woff2') format('woff2'),
         url('notosanskr-thin-webfont.woff') format('woff'),
         url('notosanskr-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('notosanskr-light-webfont.woff2') format('woff2'),
         url('notosanskr-light-webfont.woff') format('woff'),
         url('notosanskr-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('notosanskr-regular-webfont.woff2') format('woff2'),
         url('notosanskr-regular-webfont.woff') format('woff'),
         url('notosanskr-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('notosanskr-medium-webfont.woff2') format('woff2'),
         url('notosanskr-medium-webfont.woff') format('woff'),
         url('notosanskr-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('notosanskr-bold-webfont.woff2') format('woff2'),
         url('notosanskr-bold-webfont.woff') format('woff'),
         url('notosanskr-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url('notosanskr-black-webfont.woff2') format('woff2'),
         url('notosanskr-black-webfont.woff') format('woff'),
         url('notosanskr-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}